# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-isolation
.DS_Store
*.local

# Local env files
.env*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.package-lock.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Legacy heavy images folder
images/
